<section class="about" id="about">
  <div class="container">
    <div class="text-container">
      <h2 class="about-title">About <span class="accent">Us</span></h2>
      <p class="about-text">We are dedicated to providing engaging and effective English language courses in a
        supportive and stimulating learning environment</p>
    </div>
    <div class="card-container">
      <ol class="card-list">
        <li class="card">
          <h3 class="card-title">01</h3>
          <p class="card-text">Expert, innovative teaching staff</p>
        </li>
        <li class="card">
          <h3 class="card-title">02</h3>
          <p class="card-text">Wide range of course levels and options</p>
        </li>
        <li class="card">
          <h3 class="card-title">03</h3>
          <p class="card-text">Multicultural learning environment</p>
        </li>
        <li class="card">
          <h3 class="card-title">04</h3>
          <p class="card-text">Comprehensive language support services</p>
        </li>
        <li class="icon-container">
          
            <svg width="254" height="211" class="about-icon">
              <use href="../public/memoji.svg"></use>
            </svg>
         
        </li>
      </ol>
    </div>
  </div>
</section>