<header class="header">
  <div class="container">
    <a class="logo" href="/">
      <span>english</span>
      <span>excellence</span>
      <span>.</span>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#lessons">Our lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#teachers">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#application-form">Contact us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          aria-label="Facebook"
        >
          <svg class="header-social-icon">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          aria-label="Instagram"
        >
          <svg class="header-social-icon">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          aria-label="YouTube"
        >
          <svg class="header-social-icon">
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="mobile-menu-button"
      type="button"
      aria-label="Open mobile menu"
    >
      <svg class="menu-icon">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>
