<header class="header">
  <div class="container">
    <a class="logo" href="/">
      <span>english</span>
      <span>excellence</span>
      <span>.</span>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#lessons">Our lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#teachers">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#application-form">Contact us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          aria-label="Facebook"
        >
          <svg class="header-social-icon">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          aria-label="Instagram"
        >
          <svg class="header-social-icon">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          aria-label="YouTube"
        >
          <svg class="header-social-icon">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="mobile-menu-button"
      type="button"
      aria-label="Open mobile menu"
    >
      <svg class="menu-icon">
        <use href="./img/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>

    <button
      class="tablet-menu-button"
      type="button"
      aria-label="Open mobile menu"
    >
      <svg class="tablet-menu-icon">
        <use href="./img/icons.svg#icon-tablet-menu"></use>
      </svg>
    </button>

  </div>

  <!-- Mobile Menu Overlay -->
  <div class="mobile-menu-overlay">
    <div class="mobile-menu-container">
      <button
        class="mobile-menu-close"
        type="button"
        aria-label="Close mobile menu"
      >
        <svg class="mobile-menu-close-icon">
          <use href="./img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#about">About us</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#lessons">Our lessons</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#teachers">Teachers</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#reviews">Reviews</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#application-form">Contact us</a>
          </li>
        </ul>
      </nav>

      <ul class="mobile-menu-social-list">
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            aria-label="Facebook"
          >
            <svg class="mobile-menu-social-icon">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            aria-label="Instagram"
          >
            <svg class="mobile-menu-social-icon">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            aria-label="YouTube"
          >
            <svg class="mobile-menu-social-icon">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
