<section class="hero">
  <div class="container">
  <div class="hero__content">
      <h1 class="hero__title">Discover the joy of learning <span class="hero__title-accent">English</span>with us!</h1>
      <a href="#applicationForm" title="Leave an application" class="hero__button">Leave an application</a>
      <a href="#footer" class="hero__scroll-arrow" aria-label="Scroll to section">
        <svg class="hero__arrow-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 14L12 7L5 14" stroke="#4dc274" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</section>