<section class="teachers">
  <div class="container">
    <h2 class="title-teachers">
      Meet our <span class="title-highlight">teachers</span>
    </h2>
    <p class="description-team">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <div class="teacher-container">
      <div class="teacher-item">
        <img
          src="./img/maria.jpg"
          srcset="./img/maria.jpg 1x, ./img/maria@2x.jpg 2x"
          class="teacher-image"
          alt="Maria – English teacher"
        />
        <h3 class="teacher-name">Maria</h3>
        <p class="description-teachers">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </div>
      <div class="teacher-item">
        <img
          src="./img/artem.jpg"
          srcset="./img/artem.jpg 1x, ./img/artem@2x.jpg 2x"
          class="teacher-image"
          alt="Artem – English teacher"
        />
        <h3 class="teacher-name">Artem</h3>
        <p class="description-teachers">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </div>
      <div class="teacher-item">
        <img
          src="./img/ilona.jpg"
          srcset="./img/ilona.jpg 1x, ./img/ilona@2x.png 2x"
          class="teacher-image"
          alt="Ilona – English teacher"
        />
        <h3 class="teacher-name">Ilona</h3>
        <p class="description-teachers">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </div>
      <div class="teacher-item">
        <img
          src="./img/volodymyr.jpg"
          srcset="./img/volodymyr.jpg 1x, ./img/volodymyr@2x.jpg 2x"
          class="teacher-image"
          alt="Volodymyr – English teacher"
        />
        <h3 class="teacher-name">Volodymyr</h3>
        <p class="description-teachers">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </div>
    </div>
  </div>
</section>
