.about {
  padding-bottom: 80px;
}

.about-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: var(--text-dark);
  text-align: center;
  margin-bottom: 16px;
}

.about-title .accent {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.about-title .accent::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 20px;
  background-color: var(--green-light);
  border-radius: 8px;
  z-index: -1;
}

.about-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--text-dark-50);
  text-align: center;
  max-width: 335px;
  margin: 0 auto;
}

.card-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--green-main);
  margin-bottom: 16px;
}

.card-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--text-dark);
}

.card-list {
  list-style: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  padding-top: 40px;
}

.card {
  background-color: var(--bg-light);
  border-radius: 16px;
  max-width: 335px;

  padding: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon-container {
  background-color: var(--green-main);
  border-radius: 16px;
  justify-content: center;
  max-height: 313px;
  max-width: 335px;
  width: 100%;
  padding: 51px 40px;
  box-sizing: border-box;
}

.about-icon {
  width: 100%;
  max-width: 254px;
  height: 211px;
  background-image: url('../img/memoji.png');
  background-image: image-set(
    url('../img/memoji.png') 1x,
    url('../img/memoji@2x.png') 2x
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 64px;
  }

  .card {
    width: calc((100% - 32px) / 2);
    border-radius: 30px;
  }

  .icon-container {
    border-radius: 30px;
  }

  .about {
    padding-bottom: 100px;
  }

  .icon-container {
    width: 100%;
    max-width: 100%;
    max-height: 243px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 225px;
  }

  .about-text {
    font-size: 18px;
    line-height: 30px;
    max-width: 600px;
  }

  .about-title {
    font-size: 40px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 1280px) {
  .about {
    padding-bottom: 150px;
  }

  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    align-items: stretch;
    max-width: 1024px;
    margin: 0 auto;
  }

  /* cards stay normal */
  .card-list > li {
    width: 100%;
  }

  /* icon block placement */
  .card-list > li:last-child {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    max-height: 352px;
    padding: 71px 28px;
  }
  .about-text {
    max-width: 709px;
  }
}
