.application-section {
    padding: 80px 20px 60px 20px;
    background-color: var(--white);
    font-family: var(--main-font);
}

.application-section .container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} 

/* Заголовок */
.section-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-dark);
    line-height: 1.13;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 14px;
}

.section-title .accent {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.section-title .accent::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 12px;
    background-color: #bee8cc;
    border-radius: 8px;
    z-index: -1;
}

.section-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: center;
    color: var(--text-dark);
    margin-bottom: 20px;
}

/* форма */
.application-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group {
    width: 100%;
}

.form-input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border: 1px solid var(--border);
    font-family: var(--main-font);
    border-radius: 12px;
    font-size: 14px;
    color: var(--text-dark);
    background-color: var(--white);
    outline: none;
    transition: border-color var(--transition);
}

.form-input:focus {
    border-color: var(--green-main);
}

.form-input:focus-visible {
    border-color: var(--green-main);
    outline: none;
}

.form-textarea {
    min-height: 94px;
    padding: 16px;
    resize: vertical;
}

.form-input::placeholder {
    color: rgba(18, 20, 23, 0.5);
    font-size: 16px;
}

.form-input:invalid:not(:placeholder-shown) {
    border-color: #FF4D4F;
}

/* радио-кнопки */
.radio-wrapper {
    margin-top: calc(20px - 18px);
    margin-bottom: calc(40px - 18px);
    text-align: left;
}

.radio-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 14px 0;
    color: var(--text-dark);
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1,5;
    color: var(--text-dark);
    transition: color var(--transition);
}

.radio-label:last-child {
    margin-bottom: 0;
}

.radio-label:hover {
    color: var(--green-main);
}

.radio-label:hover .radio-custom {
    border-color: var(--green-main); 
}

.radio-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio-custom {
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--border); 
    border-radius: 50%;
    position: relative;
    transition: border-color var(--transition);
}

.radio-input:checked + .radio-custom {
    border-color: var(--green-main);
}

.radio-input:checked + .radio-custom::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--green-main);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-text {
    user-select: none;
}

/* Кнопка */
.submit-btn {
    width: 100%;
    height: 52px;
    background-color: var(--green-main);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    font-family: var(--main-font);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color var(--transition);
}

.submit-btn:hover {
    background-color: #38AE5F;
}

.submit-btn:focus-visible {
    background-color: #38ae5f;
    outline: none;
    
}

/* Политика */
.policy-text {
    font-size: 12px;
    color: var(--text-dark-50);
    text-align: left;
    line-height: 1.33;
    font-weight: 400;
    margin-top: 16px;
}

.policy-text a {
    color: var(--text-dark-50);
    text-decoration: underline;
    transition: color var(--transition);
}

.policy-text a:hover {
    color: var(--text-dark);
}

