.application-section {
    padding: 80px 20px 60px 20px;
    background-color: var(--white);
    font-family: var(--main-font);
}

.container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

/* Заголовок */
.section-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-dark);
    line-height: 1.13;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 14px;
    white-space: nowrap;
}

.section-title .accent {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.section-title .accent::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 12px;
    width: 172px;
    background-color: #bee8cc;
    border-radius: 8px;
    z-index: -1;
}

.section-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: center;
    color: var(--text-dark);
    margin-bottom: 20px;
}

/* форма */
.application-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group {
    width: 100%;
    position: relative;  
}

.form-input {
    width: 100%;
    height: 50px;
    padding: 0 16px;

    border: 1px solid var(--border);
    font-family: var(--main-font);

    border-radius: 12px;
    font-size: 14px;
    color: var(--text-dark);
    background-color: var(--white);
    outline: none;

    transition: border-color var(--transition);
    box-sizing: border-box;
}

.form-input:focus {
    border-color: var(--green-main);
}

.form-textarea {
    height: 94px;
    padding-top: 16px;
    resize: none;
}

.form-input::placeholder {
    color: rgba(18, 20, 23, 0.7);
}

.form-input:invalid:not(:placeholder-shown) {
    border-color: #FF4D4F;
}

/* радио-кнопки */
.radio-wrapper {
    margin-top: 2px;
    margin-bottom: 22px;
    text-align: left;
}

.radio-title {
    font-size: 18px;
    font-weight: 600;

    margin-top: 0;
    margin-bottom: 14px;
    color: var(--text-dark);
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-dark);
    position: relative;
}

.radio-label:last-child {
    margin-bottom: 0;
}

.radio-input {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
    cursor: pointer;
}

.radio-custom {
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: 2px solid var(--border); 
    border-radius: 50%;
    position: relative;
    transition: border-color var(--transition);
    box-sizing: border-box;
}

.radio-input:checked + .radio-custom {
    border-color: var(--green-main);
}

.radio-input:checked + .radio-custom::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--green-main);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Кнопка */
.submit-btn {
    width: 100%;
    height: 52px;
    background-color: var(--green-main);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    font-family: var(--main-font);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color var(--transition);
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #38AE5F;
}

/* Политика */
.policy-text {
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    color: var(--text-dark-50);
    text-align: left;
    line-height: 1.33;
    gap: 12px;
    font-weight: 400;
}

.policy-text a {
    color: var(--text-dark-50);
    text-decoration: underline;
    display: inline;
    white-space: nowrap;
}
