.application-section {
    padding: 60px 20px;
    background-color: var(--white);
    font-family: var(--main-font);
}

.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

/* Заголовок */
.section-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--text-dark);
    margin-bottom: 16px;
    line-height: 1.2;
}

.accent-text {
}

.section-description {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-dark-50);
    margin-bottom: 32px;
}