*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Font */
  --main-font: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Colors */
  /* Brand */
  --green-main: #4dc274;
  --green-light: #bee8cc;
  --accent-color: rgba(255, 255, 255, 0.5);

  /* Text */
  --text-dark: #121417;
  --white: #ffffff;

  /* Muted text */
  --text-dark-50: rgba(18, 20, 23, 0.5);
  --text-white-70: rgba(255, 255, 255, 0.7);
  --text-white-60: rgba(255, 255, 255, 0.6);

  /* Background-colors */
  --bg-light: #f6f6f6;
  --card-bg: #ffffff;

  /* UI */
  --border: rgba(18, 20, 23, 0.12);
  --transition: 250ms ease;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: var(--text-dark-50);
  background-color: var(--bg-light);

  /* Rendering optimization */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}