:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}



:root {
  --main-font: 'Manrope', sans-serif;

  /* Colors */

  /* Brand */
  --green-main: #4DC274;
  --green-light: #BEE8CC;
  --accent-color: rgba(255, 255, 255, 0.5);
  /* Для тексту "Language" */

  /* Text */
  --text-dark: #121417;
  --white: #FFFFFF;

  /* Muted text */
  --text-dark-50: rgba(18, 20, 23, 0.5);
  --text-white-70: rgba(255, 255, 255, 0.7);
  --text-white-60: rgba(255, 255, 255, 0.6);

  /*Background-colors*/
  --bg-light: #f6f6f6;
  --card-bg: #ffffff;

  /* UI */
  --border: rgba(18, 20, 23, 0.12);
  --transition: 250ms ease;


}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: var(--text-dark-50);
  background-color: var(--bg-light);

}