.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Tablet: від 768px */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
  }
}

/* Desktop: від 1280px */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    padding: 0 64px;
  }
}
