
.hero {
  width: 100%;
  margin: 16px 0 40px;
}

.hero .container {
  padding: 0 16px;
}

.hero__content {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 425px 20px 72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 30px;
  background-image: linear-gradient(357deg, rgba(0, 0, 0, 0.40) 39.23%, rgba(0, 0, 0, 0.00) 66.28%), url(../img/home-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: 72% 50%;
  background-size: cover;
  overflow: hidden;
}

.hero__title {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
  letter-spacing: -0.02em;
  max-width: 564px;
  position: relative;
  z-index: 2;
}

.hero__title-accent {
  display: inline-block;
  margin: 0 5px 0 0;
  color: #bee8cc !important;
}

.hero__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  width: fit-content;
  background-color: #4dc274;
  border: none;
  border-radius: 12px;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
}

.hero__button:hover {
  background-color: #38ae5f;
}

.hero__button:active {
  background-color: #2d8848;
}

.hero__scroll-arrow {
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
  padding: 0;
  z-index: 2;
}

.hero__scroll-arrow:hover {
  transform: translateY(4px);
  border-color: #bee8cc;
}

.hero__scroll-arrow svg {
  width: 20px;
  height: 20px;
}

.hero__arrow-icon {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

/* Tablet: від 768px */
@media only screen and (min-width: 768px) {
  .hero__content {
    padding: 250px 32px 295px;
    gap: 32px;
    background-image: linear-gradient(96deg, rgba(0, 0, 0, 0.40) 36.36%, rgba(0, 0, 0, 0.00) 51.43%), url(../img/home-hero-bg.jpg);
    background-position: 40% 50%;
  }

  .hero .container {
    padding: 0;
  }

  .hero__title {
    font-size: 60px;
    line-height: 1.17;
    max-width: 480px;
  }

  .hero__button {
    padding: 16px 64px;
    font-size: 18px;
    line-height: 28px;
  }

  .hero__scroll-arrow {
    width: 48px;
    height: 48px;
    bottom: 32px;
    right: 32px;
  }

  .hero__scroll-arrow svg {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero .container {
    max-width: 1184px;
    padding: 0 16px;
  }

  .hero__content {
    padding: 167px 0 160px 64px;
    background-position: center right;
  }

  .hero__title {
    max-width: 564px;
  }

  .hero__scroll-arrow {
    bottom: 32px;
    right: 32px;
  }
}
