.header-logo{
    background-image:
      linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%),
      url('../images/bg-photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header-logo {
        background-image:linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
        url('../images/bg-photo@2x.png');
    }
}

@media only screen and (min-width: 768px) {
    .header-logo {
        background-image:
        linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
        url('../images/bg-photo.png');
    }
    
}


/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
    .header-logo{
        background-image:
        linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
        url('../images/bg-photo.png');
    }
}





