html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
}

*::after, *::before {
  box-sizing: border-box;
}
.hero {
  width: 100%;
  margin: 16px 0 40px;
}

.hero__content {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 164px 0 163px 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 30px;
  background-image: url(../images/home-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.hero__content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(96deg, rgba(0, 0, 0, 0.40) 36.36%, rgba(0, 0, 0, 0.00) 51.43%);
  z-index: 1;
}

.hero__title {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.17;
  color: #ffffff;
  letter-spacing: -0.02em;
  max-width: 564px;
  position: relative;
  z-index: 2;
}

.hero__title-accent {
  display: inline-block;
  margin: 0 3px;
  color: #bee8cc !important;
}

.hero__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 64px;
  width: fit-content;
  background-color: #4dc274;
  border: none;
  border-radius: 12px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 2;
}

.hero__button:hover {
  background-color: #38ae5f;
}

.hero__button:active {
  background-color: #2d8848;
}

.hero__scroll-arrow {
  position: absolute;
  bottom: 24px;
  right: 64px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
  padding: 0;
  z-index: 2;
}

.hero__scroll-arrow:hover {
  transform: translateY(4px);
  border-color: #bee8cc;
}

.hero__arrow-icon {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 1200px) {

  .hero__content {
    padding: 250px 32px 295px;
    gap: 32px;
  }

  .hero__scroll-arrow {
    right: 32px;
    bottom: 32px;
  }
}

@media only screen and (max-width: 767px) {

  .hero__content {
    padding: 425px 20px 72px;
    gap: 40px;
    background-position: 71% 50%;
  }

  .hero__title {
    font-size: 38px;
    line-height: normal;
  }

  .hero__button {
    padding: 12px 32px;
    font-size: 14px;
    line-height: 24px;
  }

  .hero__scroll-arrow {
    width: 38px;
    height: 38px;
    bottom: 14px;
    right: 14px;
  }

  .hero__scroll-arrow svg {
    width: 20px;
    height: 20px;
  }
}
