/* Базові стилі для Mobile (1x) */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
        url('../images/hero-photo.png');
    /* */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Retina для Mobile (@2x) */
@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
            url('../images/hero-photo@2x.png');
        /* */
    }
}

/* Tablet (1x) */
@media screen and (min-width: 768px) {
    .hero-image{
        background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
            url('../images/hero-photo.png');
        /* */
    }

    /* Retina для Tablet (@2x) */
    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero-image{
            background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
                url('../images/hero-photo@2x.png');
            /* */
        }
    }
}

/* Desktop (1x) */
@media screen and (min-width: 1280px) {

    /* */
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
            url('../images/hero-photo.png');
        /* */
    }

    /* Retina для Desktop (@2x) */
    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
                url('../images/hero-photo@2x.png');
            /* */
        }
    }
}





