.lessons {
  padding: 80px 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
}
.lessons-heading {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: #121417;
}

.lessons-heading .highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.lessons-heading .highlight::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  background-color: #bee8cc;
  border-radius: 8px;
  width: 100%;
  height: 12px;
  z-index: -1;
  display: block;
}

.lessons-paragraph {
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  margin: 0 auto;
  font-weight: 400;
}

.lessons-card-name {
  font-size: 20px;
  margin-bottom: 16px;
  color: #121417;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
}

.lessons-card-name-accent {
  color: #ffffff;
}

.lessons-price {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
}

.lessons-price-accent {
  color: #ffffff;
}

.lessons-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

.lessons-item {
  padding: 40px 20px;
  border: 1px solid #52bb76;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.lessons-item-accent {
  background-color: #52bb76;
  color: #ffffff;
}

.lessons-paragraph-card {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
}

.lessons-card-margin {
  margin-bottom: 20px;
  height: 132px;
}

.lessons-card-regular {
  margin-bottom: 32px;
}

.lessons-item-accent .lessons-paragraph-card {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
}

.lessons-item-accent .lessons-btn {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.lessons-btn {
  display: block;
  padding: 14px;
  background-color: #52bb76;
  color: #ffffff;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  margin-top: auto;
  transform: translateY(4px);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lessons-btn:hover,
.lessons-btn:focus {
  background-color: #38ae5f;
}

.lessons-item-accent .lessons-btn:hover,
.lessons-item-accent .lessons-btn:focus {
  background-color: #ffffff;
  color: #52bb76;
  border-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .lessons {
    padding: 100px 0;
  }

  .lessons-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
  }

  .lessons-item {
    width: calc((100% - 20px) / 2);
    max-width: 336px;
    padding: 32px 16px;
  }

  .lessons-heading {
    font-size: 40px;
  }

  .lessons-heading .highlight::after {
    height: 20px;
  }

  .lessons-paragraph-card {
    font-size: 16px;
    line-height: 1.5;
  }

  .lessons-paragraph {
    font-size: 18px;
  }

  .lessons-card-margin {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .lessons {
    padding: 150px 0;
  }

  .lessons-heading {
    font-size: 40px;
  }

  .lessons-list {
    flex-wrap: nowrap;
    gap: 32px;
    justify-content: center;
  }

  .lessons-item {
    width: calc((100% - 48px) / 3);
    max-width: 320px;
    padding: 32px 32px;
  }

  .lessons-heading .highlight::after {
    height: 20px;
  }

  .lessons-paragraph-card {
    font-size: 16px;
    line-height: 1.5;
  }

  .lessons-paragraph {
    font-size: 18px;
    max-width: 665px;
    margin-bottom: 64px;
  }

  .lessons-card-margin {
    margin-bottom: 32px;
  }
}
