
/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./lessons.css');
@import url('./proposal.css');
@import url('./teachers.css');
@import url('./application-form.css');
@import url('./reviews.css');
@import url('./footer.css');


:root {
  --main-font: 'Manrope', sans-serif;

  /* Colors */

  /* Brand */
  --green-main: #4DC274;
  --green-light: #BEE8CC;

  /* Text */
  --text-dark: #121417;
  --white: #FFFFFF;

  /* Muted text */
  --text-dark-50: rgba(18, 20, 23, 0.5);
  --text-white-70: rgba(255, 255, 255, 0.7);
  --text-white-60: rgba(255, 255, 255, 0.6);

  /*bg-c*/
  --bg-light: #f6f6f6;
  --card-bg: #ffffff;

  /* UI */
  --border: rgba(18, 20, 23, 0.12);
  --transition: 250ms ease;

  
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.7;
  color: var(--text-dark-50);
  background-color: var(--bg-light);

}