.proposal {
    padding: 100px 0;
}

/* Зовнішній зелений контейнер */
.proposal-wrapper {
    position: relative;
    padding: 100px 60px 140px;
    background: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

/* Відступ між заголовком і стеком карт */
.proposal-header {
    margin-bottom: 80px;
    text-align: left;
}

.proposal-main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: var(--white);

    max-width: 800px;
    margin: 0 0 80px 0;
}

.accent-text {
    color: var(--text-white-70);
}

/* Контейнер-стек */
.proposal-card-visual-stack {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1050px;
    display: flex;
    justify-content: center;
}

/* Універсальні налаштування для фонових шарів */
.proposal-card-visual-stack::before,
.proposal-card-visual-stack::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    border-radius: 30px;
    pointer-events: none;
}

/* Нижня напівпрозора карта */
.proposal-card-visual-stack::before {
    z-index: -2;
    background: var(--proposal-bg-light);
    transform: rotate(-11deg);
    opacity: 0.5;
}

/* Середня зеленувата карта */
.proposal-card-visual-stack::after {
    z-index: -1;
    background: var(--accent-color);
    transform: rotate(8deg);
}

/* Основна біла картка */
.proposal-card {
    position: relative;
    z-index: 2;
    background: var(--white);
   
    border-radius: 30px;
    padding: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.proposal-content {
    max-width: 654px;
    flex: 1;
}

.proposal-card-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--text-dark);
    letter-spacing: -0.02em;
    line-height: 1.2;
}

.proposal-list {
    display: flex;
    flex-direction: column;
    gap: 26px;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    max-width: 654px;
}

.proposal-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--text-dark);
    font-weight: 700;
}

.proposal-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 306px;
    height: 60px;
    background-color: var(--green-main);
    color: var(--white);
    text-decoration: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    transition: transform 0.2s, background-color 0.3s;
}

.proposal-button:hover {
    transform: translateY(-2px);
}

.proposal-books {
    position: absolute;
    right: 0;
    flex-shrink: 0;
    max-width: 250px;
    height: auto;
    margin-left: 30px;
}

.proposal-icon {
    flex-shrink: 0;
}